[submodule "applications/plugins/STLIB"]
	path = applications/plugins/STLIB
	url = https://github.com/SofaDefrost/STLIB.git
[submodule "applications/plugins/SoftRobots"]
	path = applications/plugins/SoftRobots
	url = https://github.com/SofaDefrost/SoftRobots.git
[submodule "applications/plugins/PDBSofaPlugin"]
	path = applications/plugins/PDBSofaPlugin
	url = git@github.com:faichele/PBDSofaPlugin.git
	branch = master
[submodule "CollDet"]
	path = extlibs/CollDet
	url = ssh://git@git.simedis.com/tracks/SPE/colldet.git
[submodule "ProtoSphereExtended"]
	path = extlibs/ProtoSphereExtended
	url = ssh://git@git.simedis.com/tracks/SPE/protosphereextended.git
[submodule "impulse-based-dynamics"]
	path = extlibs/impulse-based-dynamics
	url = ssh://git@git.simedis.com/tracks/SPE/impulse-based-simulator.git
[submodule "extlibs/impulse-based-simulator"]
	path = extlibs/impulse-based-simulator
	url = ssh://git@git.simedis.com/tracks/SPE/impulse-based-simulator.git
[submodule "extlibs/fcl"]
	path = extlibs/fcl
	url = https://github.com/flexible-collision-library/fcl.git
[submodule "extlibs/Discregrid"]
	path = extlibs/Discregrid
	url = https://github.com/InteractiveComputerGraphics/Discregrid.git
[submodule "extlibs/GenericParameters"]
	path = extlibs/GenericParameters
	url = https://github.com/InteractiveComputerGraphics/GenericParameters.git
[submodule "PositionBasedDynamics"]
	url = git@github.com:faichele/PositionBasedDynamics.git
	branch = master
[submodule "applications/plugins/SofaROSConnector"]
	path = applications/plugins/SofaROSConnector
	url = https://github.com/faichele/SofaROSConnector.git
